.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn {
  border: 0;
  padding: 5px 30px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.main-container {
  padding: 20px;
  width: 400px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

nav {
  display: flex;
  justify-content: center;
  padding: 30px;
}

nav li {
  list-style: none;
  border: 0;
  padding: 5px;
  background-color: #2196f3;
  margin-left: 3px;
}

nav li a {
  text-decoration: none;
  color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 200px;
  margin: 5px 5px 10px 5px;
  border: 0;
  border-bottom: 2px solid #2196f3;
  outline: 0;
  height: 30px;
}

@media (max-width: 750px) {
  .main-container {
    width: 90vw;
    height: auto;
    padding: 20px 0;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    width: 80%;
  }
}
